{% extends "base.html" %}

{% block title %}Recuperar Palavra-passe - COVERDE{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Recuperar Palavra-passe</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_email" class="form-label">Endereço de e-mail</label>
            <input type="email" name="email" class="form-control" required id="id_email">
        </div>
        <button type="submit" class="btn btn-primary">Enviar instruções</button>
    </form>
</div>
{% endblock %}