# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.log
*.pot

# === Virtual environment ===
venv/
ENV/
env/
.venv/
.ENV/
.env/

# === Django ===
*.sqlite3
db.sqlite3
media/
staticfiles/
static_root/
*.bak
*.swp

# === Configuração Django (segurança) ===
.env
.env.*

# === IDEs ===
.vscode/
.idea/

# === MacOS / Linux ===
.DS_Store
Thumbs.db

# === Testes / relatórios ===
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
test-results/

# === MyPy / Linters ===
.mypy_cache/
.dmypy.json
.pytype/

# === Outros ===
*.tgz
*.gz
*.zip
*.tar
*.log
npm-debug.log
yarn-debug.log
yarn-error.log
