{% extends 'shared/base.html' %}
{% load custom_tags %} 

{% block content %}
<div class="container">
    <h2>Resumo do Carrinho</h2>
    <ul>
        {% for item in items %}
        <li>{{ item.produto.nome }} - {{ item.quantidade }} - €{{ item.produto.preco }}</li>
        {% endfor %}
    </ul>
    <h4>Total: €{{ total }}</h4>
    <form method="post">
        {% csrf_token %}
        <!-- Adicionar um botão de checkout ou opções de pagamento -->
        <button type="submit" class="btn btn-success">Confirmar Compra</button>
    </form>
</div>
{% endblock %}
