{% extends "base.html" %}
{% load static %}

{% block title %}Registo - COVERDE{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center py-5">
  <div class="col-md-6 col-lg-5 bg-white p-4 rounded shadow-sm text-center">

    <img src="{% static 'imgs/logo.png' %}" alt="Logo COVERDE" width="80" class="mb-3">
    <h3 class="fw-bold text-success mb-4">Criar Conta</h3>

    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="email" class="form-label">Teu e-mail</label>
        <input type="email" name="email" class="form-control" required placeholder="exemplo@email.com">
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-orange rounded-pill">Continuar</button>
      </div>
    </form>

  </div>
</div>
{% endblock %}
